.header {
    width: 100%;
    max-width: 100%;
    min-height: 90px;
    top: 0px;
    background-color: $white;
    border-bottom: 1px solid $grey;
    @include transition(1s);
    @include box-shadow(.13);
    @media only screen and (max-width: 800px) {
    	height: 90px;
    	min-height: 0;
    	top: 0;
	    background-color: #000;
	    position: fixed;
	    z-index: 99;
    }
    .nav-wrapper {
		max-width: 1200px;
		margin: 0 auto;
		width: 90%;
		@media only screen and (max-width: 800px){
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.logo-container {
		    position: relative;
		    display: inline-block;
		    float: left;
		    font-size: 1.2rem;
		    vertical-align: middle;
			@media only screen and (max-width: 800px) {
		    	left: 40px;
		    	top: 10px;
		    }
		    @media only screen and (max-width: 600px) {
		    	height: 90px;
			    top: 12px;
		    }
		    @media only screen and (max-width: 600px) {
		    	left: 30px;
		    }
		    .logo {
		    	display: block;
				padding: 1rem 0;
				margin: 0;
				outline: 0;
				text-decoration: none;
				height: 65px;
				width: 65px;
				border: none;	
				line-height: 1.286rem;
				color: $title;
				font-size: 1.75rem;
				@media only screen and (max-width: 800px) {
			    	color: $white;
			    	padding: 0;
			    }
			    @media only screen and (max-width: 767px) {
			    	top: 22px;
			    }
			    img {
			    	max-width: 100%;
			    }
			}
		}
    }
}